<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Friend Request</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sendRequestStudent.css">
</head>
<body>
    <div class="nav"></div>

    <h1>Send Friend Request</h1>
    <br>
    <label for="receiverId">Receiver ID:</label>
    <input type="text" id="receiverId">
    <br>
    <button id="sendRequestButton">Send Request</button>

    <div id="requests">
        <h1>Add Requests</h1>
        <div id="request_list"></div>
      </div>
    
      <script src="/js/navbar.js"></script>
    <script src="/js/sendRequestStudent.js"></script>
</body>
</html>