<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Student</title>
  <link rel="stylesheet" href="/css/addStudent.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
  <div class="nav"></div>

  <h1>Add Student</h1>
  <form id="addStudentForm">
    <label for="studentEmail">Student Email:</label>
    <input type="text" id="studentEmail" required><br>
    <button type="submit">Add Student</button>
  </form>

  <div id="requests">
    <h1>Add Requests</h1>
    <div id="request_list"></div>
  </div>
  <a href="/teacher-chat.html">Back to Chat</a>
  <script src="/js/navbar.js"></script>
  <script src="/js/addStudent.js" type="module"></script>
</body>
</html>