<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Chat</title>
    <link rel="stylesheet" href="/css/chatStudent.css" />
    <link rel="stylesheet" href="/css/navbar.css">

  </head>
  <body>
    <div class="nav"></div>

    <div id="self-id"></div>
    <div id="message-container"></div>
    <form id="form">
      <label for="message-input">Message</label>
      <input type="text" id="message-input" />
      <button type="submit" class="disableSend" id="send-button">Send</button>
    </form>

    <div id="teacher-list">
      <h2>Teacher List</h2>
      <ul id="teacher-ul"></ul>
    </div>

    <ul id="teacher-list"></ul>
    <div id="message-container"></div>

    <script src="/js/navbar.js"></script>
    <script src="/js/chatStudentBundle.js" type="module"></script>
  </body>
</html>